.floatingDiv{
    background-color: var(--main-color);
    height: 170px;
    position: absolute;
    bottom: -85px;
}
.floatingContainer{
    position: relative;
}
.floatingDivContent{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 170px;
}
.imgThumbContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    max-height: 100%;
}
.someGuystandin{
    width: 200px;
    height: 250px;
    position: relative;
    z-index: 10;
    bottom: 40px;
}
.circleShape{
    bottom: 0px;
    width: 60px;
    left: -25px;
}
.floatingDiv .imgThumbContainer .linesBehind{
    left: -30px;
    bottom: 0;
}
.floatingDiv .floatingDivHeading{
    font-size: 22px;
    color: var(--background-white);
    font-weight: 600;
    font-family: "Plus Jakarta Sans", sans-serif;
    text-align: left;
    flex: 1;
    padding: 0 50px;
    padding-right: 340px;
    text-transform: capitalize;
}
.floatingDiv .endRightShape{
    bottom: 0px;
    right: -45px;
}
.mainFooterButton-HW{
    background-color: var(--background-white);
    color: var(--heading-color);
    font-size: 14px;
    padding: 10px 20px;
    border: none;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 12;
}