.BlogCard{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.blogCardInfo{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    width: 90%;
    font-size: 14px;
    box-shadow: 0 -10px 20px -8px gray;
    background-color: var(--background-white);
}
.blogCardInfo .first-top .categ{
    margin-bottom: 0;
    padding: 10px 20px;
    border: 1px solid var(--border-light);
    margin: 10px 0;
    color: var(--main-color);
    font-weight: 500;
    cursor: pointer;
}
.blogCardInfo .first-top .date{
    margin-bottom: 0;
    color: var(--light-text);
}
.blogCardInfo .blogCardHeading{
    font-family:"Plus Jakarta Sans", sans-serif;
    margin-bottom: 0;
    line-height: 1.6;
    font-weight: bold;
    font-size: 18px;
}
.blogCardInfo .someOneInfo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    button{
        padding:10px 12px;
        font-size: 16px;
        background-color: #F3F7FB;
        border: 1px solid var(--border-light);
    }
}
.blogCardInfo .someOneInfo .someOneid{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    img{
        width:40px;
        display: block;
    }
    div{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        h5{
            font-size: 14px;
            font-family:"Plus Jakarta Sans", sans-serif;
            color: var(--heading-color);
            font-weight: 700;
            margin-bottom: 0;
        }
        p{
            font-size: 14px;
            color: var(--light-text);
            margin-bottom: 0;
        }
    }
}
.blogCardInfo .straightLine{
    margin: 7px 0;
}
.blogImageContaienr{
    position: absolute;
    z-index: -10;
    bottom: 60%;
}
